/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'NANOPLOT_RAW' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/quality_control/nanoplot_raw_reads" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NANOPLOT_TRIMMED' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/quality_control/nanoplot_cassette_trimmed_reads" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'BWA_MEM'{
        ext.args = '-t 8 -k11 -W20 -r10 -A1 -B1 -O1 -E1 -L0 -Y -a'
        ext.args2 = '--output-fmt sam'
        publishDir = [
            path: { "${params.outdir}/alignment" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'FLANKDETECT' {
        ext.args = { params.distance != null && params.qual != null
                ? "--distance ${params.jsa_distance} --qual ${params.jsa_qual}"
                : '' }
    }

    withName: 'BEDTOOLS_SORT' {
        ext.suffix = '_site_clustering_sorted.txt'
    }

    withName: 'BEDTOOLS_MERGE' {
        ext.args = '-c 7,8,6,6 -o distinct,count,mode,stdev'
        publishDir = [
            path: { "${params.outdir}/integration_sites" },
            mode: params.publish_dir_mode
        ]
    }

    withName: CUTADAPT {
        ext.args = { params.cassette ? "-g \"$params.cassette\" -a \"$params.cassette\"" : ''}
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode
        ]
    }

}
